<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
         <httpRedirect enabled="false" destination="/" />
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
        </staticContent>
    	<security>
            <requestFiltering allowDoubleEscaping="true">
                <requestLimits maxQueryString="4096" />
                <denyUrlSequences>
                    <add sequence="/CON/" />
                    <add sequence="/PRN/" />
                    <add sequence="/AUX/" />
                    <add sequence="/CLOCK$/" />
                    <add sequence="/NUL/" />
                    <add sequence="/COM1/" />
                    <add sequence="/COM2/" />
                    <add sequence="/COM3/" />
                    <add sequence="/COM4/" />
                    <add sequence="/LPT1/" />
                    <add sequence="/LPT2/" />
                    <add sequence="/LPT3/" />
                    <add sequence="A:" />
                    <add sequence="B:" />
                    <add sequence="C:" />
                    <add sequence="D:" />
                    <add sequence="E:" />
                    <add sequence="F:" />
                    <add sequence="G:" />
                    <add sequence="H:" />
                    <add sequence="I:" />
                    <add sequence="J:" />
                    <add sequence="K:" />
                    <add sequence="L:" />
                    <add sequence="M:" />
                    <add sequence="N:" />
                    <add sequence="O:" />
                    <add sequence="P:" />
                    <add sequence="Q:" />
                    <add sequence="R:" />
                    <add sequence="S:" />
                    <add sequence="T:" />
                    <add sequence="U:" />
                    <add sequence="V:" />
                    <add sequence="W:" />
                    <add sequence="X:" />
                    <add sequence="Y:" />
                    <add sequence="Z:" />
                </denyUrlSequences>
                <hiddenSegments>
                    <remove segment="bin" />
                    <add segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>
		<httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
		<add name="X-Frame-Options" value="SAMEORIGIN" />
		<add name="Strict-Transport-Security" value="max-age=31536000" />
            </customHeaders>
        </httpProtocol>
	<rewrite>
	<rules>
		<rule name="Redirect Products">
			<match url="^product-category" />
			<action type="Rewrite" url="shop" />
		</rule>
		<rule name="Redirect category pages">
			<match url="^category" />
			<action type="Rewrite" url="news" />
		</rule>
		<rule name="Redirect tag pages">
			<match url="^tag" />
			<action type="Rewrite" url="news" />
		</rule>
		<rule name="Redirect Shop">
			<match url="^my-account" />
			<action type="Rewrite" url="shop" />
		</rule>
        <rule name="Redirect 2016">
			<match url="^2016" />
			<action type="Rewrite" url="news" />
		</rule>
        <rule name="Redirect 2017">
			<match url="^2017" />
			<action type="Rewrite" url="news" />
		</rule>
	</rules>
	</rewrite>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    </system.web>
</configuration>